/* Estilos para el formulario */
.card-form[b-qecdoqupbo] {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Espaciado entre los inputs */
.form-group[b-qecdoqupbo] {
    margin-bottom: 15px;
}

/* Tamaño del botón */
.btn-submit[b-qecdoqupbo] {
    width: 100%;
}

/* Tabla estilizada */
.table-container[b-qecdoqupbo] {
    margin-top: 20px;
    text-align: center;
}

.table-custom[b-qecdoqupbo] {
    width: 100%;
    border-collapse: collapse;
}

    .table-custom th[b-qecdoqupbo] {
        background-color: #343a40;
        color: white;
        text-align: center;
    }

    .table-custom td[b-qecdoqupbo], .table-custom th[b-qecdoqupbo] {
        padding: 10px;
        border: 1px solid #ddd;
    }

    .table-custom tbody tr:nth-child(even)[b-qecdoqupbo] {
        background-color: #f8f9fa;
    }

.col-seleccionar[b-qecdoqupbo] {
    width: 5%; /* Reduciendo el ancho de la columna de selección */
    text-align: center;
}

/* Estilos para la sección de interpolación */
.interpolation-options[b-qecdoqupbo] {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el select de múltiples opciones */
select.form-control[multiple][b-qecdoqupbo] {
    height: 120px;
}
