/* Estilos para el formulario */
.card-form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Espaciado entre los inputs */
.form-group {
    margin-bottom: 15px;
}

/* Tamaño del botón */
.btn-submit {
    width: 100%;
}

/* Tabla estilizada */
.table-container {
    margin-top: 20px;
    text-align: center;
}

.table-custom {
    width: 100%;
    border-collapse: collapse;
}

    .table-custom th {
        background-color: #343a40;
        color: white;
        text-align: center;
    }

    .table-custom td, .table-custom th {
        padding: 10px;
        border: 1px solid #ddd;
    }

    .table-custom tbody tr:nth-child(even) {
        background-color: #f8f9fa;
    }

.col-seleccionar {
    width: 5%; /* Reduciendo el ancho de la columna de selección */
    text-align: center;
}

/* Estilos para la sección de interpolación */
.interpolation-options {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el select de múltiples opciones */
select.form-control[multiple] {
    height: 120px;
}
